<!-- views/index.ejs -->
<%- include('./partials/header') %>
<div class="homeContent">
  <h2>Welcome!</h2>
  <h2>Click on the upper right corner to log in.</h2>
</div>
<%- include('./partials/footer') %>
