* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  background-color: rgb(242, 243, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(242, 243, 247);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px auto 50px; 
  grid-template-areas: 
    "nav"
    "yellowHeader"
    "main"
    "copyright";
}

.container > nav {
  grid-area: nav;
  background-color: rgb(242, 243, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}

.container > #yellowHeader {
  grid-area: yellowHeader;
  background-color: rgb(246, 194, 68);
  height: 40px;
  margin: none;
}

.container > main {
  grid-area: main;
}

.container > .copyright {
  grid-area: copyright;
  text-align: center;
}

nav > span {
  height: 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.h1 {
  text-align: center;
  height: 40px;
}

.title {
  margin-top: 20px;
}

.img-thumbnail {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.homePage {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 270px;
}

#indexForm {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 100px;
}

#newForm #editForm {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 90px;
}
