<!-- views/orders/new.ejs -->
<%- include('../partials/header') %>
<h1 class="title">Create New Order</h1>
  <form id="new-form" action="/orders" method="POST">
  <label>Add to: </label>
  <input type="text" name="name" required>
  <label>SelectProduct: </label>
  <select name="selectedProduct" id="selectedProduct">
    <% products.forEach(function(product) { %>
      <option value="<%= product._id %>"><%= product.name - product.price %></option>
    <% }); %>
  </select>
  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" min="1" required>
  <input type="submit" value="Add Product">
</form>
<%- include('../partials/footer') %>
