<%- include('../partials/header') %>
<h1>Add Product</h1>
<form id="new-form" action="/products" method="POST">
  <label>Name: </label>
  <input type="text" name="name" required>
  <label>Price: </label>
  <input type="number" name="price" required>
  <label>Available: </label>
  <input type="checkbox" name="nowShowing" checked>
  <label>Listing Date: </label>
  <input type="datetime-local" name="listingDate">
  <label>Description: </label>
  <input type="text" name="description"></input>
  <input type="submit" value="Add Product">
</form>
<%- include('../partials/footer') %>